<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <appender name="rollingAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 在IDE中，日志保存在项目目录的logs目录下；当项目打包成jar时，logs目录与jar在同一级目录。 -->
        <file>logs/thymelte.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/thymelte-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder><!-- 必须指定，否则不会往文件输出内容 -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
        <append>false</append>
        <prudent>false</prudent>
    </appender>

    <root level="INFO">
        <appender-ref ref="rollingAppender" />
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>