<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Sidebar Menu -->
<ul th:fragment="sidebar-menu" class="sidebar-menu" data-widget="tree">
    <!--<li class="header">HEADER</li>-->
    <!-- Optionally, you can add icons to the links -->
    <li id="page_index"><a href="javascript:void(0);"><i class="fa fa-link"></i> <span>主页</span></a></li>
    <li id="page_news_info"><a href="javascript:void(0);"><i class="fa fa-link"></i> <span>新闻管理</span></a></li>
    <!--<li class="treeview">
        <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/third">Link in level 2</a></li>
            <li><a href="/forth">Link in level 2</a></li>
        </ul>
    </li>-->
    <li id="page_user_manage" sec:authorize-expr="hasRole('ADMIN')"><a href="javascript:void(0);"><i class="fa fa-user"></i> <span>用户管理</span></a></li>
</ul>
<!-- /.sidebar-menu -->
</body>
</html>