<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/jquery-file-upload/9.18.0/css/jquery.fileupload.css}">
    <link rel="stylesheet" th:href="@{/webjars/jquery-file-upload/9.18.0/css/jquery.fileupload-ui.css}">
    <title>Document</title>
    <style>
        img{
            max-width: 200px;
            max-height: 200px;
        }
    </style>
</head>
<body>
<div class="row">
    <label for="file_upload" class="
btn btn-default">更换头像</label>
    <input id="file_upload" type="file" name="file" multiple style="display:none">
</div>
<span class="proportion"></span>
<!-- 上传进度条及状态： -->
<div class="progress" style="width: 100px">
    <div class="progress-bar" role="progressbar" style="width: 0%;"></div>
    <div class="upstatus" style="margin-top:10px;"></div>
</div>
<!-- 预览框： -->
<div class="preview" style="margin-top:20px;"></div>
<div id="file_paths">

</div>
<script th:src="@{webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{webjars/jquery-file-upload/9.18.0/js/vendor/jquery.ui.widget.js}"></script>
<script th:src="@{webjars/jquery-file-upload/9.18.0/js/jquery.iframe-transport.js}"></script>
<script th:src="@{webjars/jquery-file-upload/9.18.0/js/jquery.fileupload.js}"></script>
<script th:src="@{webjars/jquery-file-upload/9.18.0/js/jquery.fileupload-process.js}"></script>
<script th:src="@{webjars/jquery-file-upload/9.18.0/js/jquery.fileupload-validate.js}"></script>
<script th:src="@{js/file_upload.js}"></script>
</body>
</html>