<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>注册</title>
    <!--[if lt IE 9]>
    <script src="webjars/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
    <script src="webjars/respond/1.4.2/dest/respond.min.js"></script>
    <script src="webjars/excanvas/3/excanvas.js"></script>
    <script src="webjars/excanvas/3/excanvas.compiled.js"></script>
    <![endif]-->
    <link rel="stylesheet" th:href="@{webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <div class="row col-md-4 col-md-offset-4">
        <h2 class="text-center">
            账号注册
        </h2>
        <form th:action="@{users/register}" role="form" method="post">
            <div class="form-group">
                <label for="username">名称</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="请输入邮箱">
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
            </div>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <div class="row text-center">
                <button type="submit" class="btn btn-default" style="width: 92%">注册</button>
            </div>
        </form>
    </div>
</div>
<!-- jQuery 3 -->
<script th:src="@{webjars/jquery/3.3.1/jquery.min.js}"></script>
<!-- Bootstrap 3.3.7 -->
<script th:src="@{webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>